.submissions-list__container {
  overflow: hidden;
}

.submissions-list__header {
  width: inherit;
  margin-bottom: 1rem;
}

.submission__list {
  max-height: 300px;
  min-height: 100px;
  width: 100%;
  overflow: auto;
}

.submission__wrapper a,
.submission__wrapper p,
.submission__wrapper span,
.submission__wrapper button {
  z-index: 1;
}

.submission__wrapper a:hover {
  color: var(--brand-tertiary);
}

.submission__wrapper:not(:last-of-type)::before {
  content: '';
  display: block;
  position: absolute;
  inset: -1px;
  border-bottom: solid gray 2px;
  height: inherit;
}

.submission__wrapper {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  border: solid 1px transparent;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  min-height: 4rem;
}

.submission__wrapper:hover {
  background-color: var(--brand-tertiary--dark);
}

.submission__wrapper .submission__delete-btn {
  display: none;
}

.submission__wrapper:hover .submission__delete-btn {
  display: inline-block;
}

.submission__author {
  font-weight: 600;
}

.submission__datetime {
  position: absolute;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  margin-right: 1rem;
}
