.page-aside__container {
  position: absolute;
  top: 0;
  right: 2.3rem;
  width: calc(20vw - 3rem);
  max-height: calc(100vh / 1.5);
  min-height: 30rem;
}

.page-aside__container aside {
  position: relative;
  top: 0;
  right: 0;
}

/* Ensure page aside is completely hidden at smaller viewport widths */
@media (max-width: 1024px) {
  .page-aside__container {
    display: none;
  }
}
