.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: var(--light-background--quaternary);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition:
    background 200ms,
    border 200ms;
  overflow: auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--light-bg__text-color--primary);
}

.card.full {
  width: 100%;
}
.card.lg {
  width: 80%;
}
.card.md {
  width: 75%;
}
.card.sm {
  width: 70%;
}
.card.min {
  width: max-content;
  min-height: 0;
}

.card,
.card sup {
  color: rgb(2, 2, 2);
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2,
.card h3 {
  font-weight: 600;
  margin-bottom: 0.7rem;
  color: black;
}

.card p {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.5;
  max-width: 100ch;
  width: 100%;
  text-wrap: wrap;
  word-break: break-word;
}

.card a {
  color: var(--anchor__light-bg--primary);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--brand-primary--dark);
    cursor: pointer;
  }

  .card a:hover {
    color: var(--anchor__light-bg--quaternary-hover);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .card h2,
  .caard h3 {
    margin-bottom: 0.5rem;
  }
}

/* 4k Displays */
@media (min-width: 2160px) {
  .card {
    max-width: 1600px;
    margin-bottom: 0;
    width: 100%;
  }
  .card:not(:last-of-type) {
    margin-right: 1rem;
  }
}
