# Auto detect text files and normalize line endings to LF
* text=auto eol=lf

# Bash scripts must have LF line endings
*.sh text eol=lf

# Windows scripts must have CRLF line endings  
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.woff2 binary
*.pyc binary
