.footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background-color: #222;
  align-items: center;
  max-height: 10rem;
  height: 3rem;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.footer__app-version {
  position: absolute;
  right: 1rem;
  color: var(--brand-primary);
}
