.footer {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #222;
  color:azure;

  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 10rem;
  height: 5rem;
}
