.header {
  background-color: #222;
  padding: 2rem;
  padding-bottom: 0;
  color: var(--brand-primary);
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.header h2 {
  margin: 0 auto;
}

.header__auth {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.header__user-name {
  margin-right: 1rem;
}
