.header {
  background-color: #222;
  padding: 2rem;
  color: azure;
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-height: 13.5rem;
  height: 13.5rem;
}

.header h2 {
  margin: 0 auto;
}

.header__auth {
  display: flex;
  align-items: center;
}