.badge__container {
  position: relative;
  display: inline-block;
}

.badge__content {
  position: absolute;
  top: -1em;
  right: -1em;
  background-color: var(--brand-tertiary);
  color: var(--font__color--primary);
  box-shadow: inset 0 0 0 2px var(--brand-tertiary--dark);
  border-radius: 50%;
  padding: 0.5em;
  font-size: 1em;
  font-weight: 700;
  min-width: 2em;
  line-height: 0.5em;
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge__content:hover {
  background-color: var(--brand-tertiary--dark);
}
