.comment-item {
  background-color: var(--light-background--primary);
  box-shadow: 0 1px 3px transparent;
  border-radius: 0.375rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.comment-item__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comment-item__meta {
  font-size: var(--font-size-md);
  color: var(--text-secondary);
}

.comment-item__text {
  font-size: var(--font-size-md);
  color: var(--text-primary);
  line-height: 1.5;
}