.page-content__section {
  display: flex;
  flex-direction: column;
  max-width: calc(80vw - 3rem);
  flex: 1;
  /* padding-bottom: 5rem; */
}

@media (max-width: 1024px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .page-content__section {
    max-width: 100%;
  }
}
