.dragRegion {
  position: fixed;
  left: env(titlebar-area-x, 0);
  top: env(titlebar-area-y, 0);
  width: env(titlebar-area-width, 100%);
  height: env(titlebar-area-height, 0);
  z-index: 10004;
  app-region: drag;
  -webkit-app-region: drag;
  pointer-events: auto;
}
