.Sample {
  text-align: center;
}

.Sample-logo {
  animation: Sample-logo-spin infinite 20s linear;
  height: 80px;
}

.Sample-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Sample-intro {
  font-size: large;
}

.Sample-resources {
  list-style: none;
}

.Sample-resources > li {
  display: inline-block;
  padding: 1rem;
}

@keyframes Sample-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}