.filter-bar__container {
  width: 100%;
  max-width: 1600px;
}

.filter-bar__filter {
  width: 100%;
}

.filter-bar__filter-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  width: 100%;
  max-height: 20rem;
  height: auto;
  overflow-y: auto;
  padding-top: 1rem;
  padding-right: 1rem;
}

.filter-bar__filter-name,
.filter-bar__filter-value-container,
.filter-bar__clear {
  margin-bottom: 1rem;
}

.filter-bar__filter-value-container:not(:last-of-type) {
  margin-right: 1rem;
}

.filter-bar__filter-value {
  font-size: 1.4rem;
  color: var(--font-color--primary);
  padding: 0.4em;
  background-color: var(--brand-tertiary);
  box-shadow: inset 0 0 0 2px var(--brand-tertiary--dark);
  border-radius: var(--border-radius);
}

@media (max-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .filter-bar__container {
    width: 100%;
    min-width: 100%;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .filter-bar__container {
    width: calc(80vw - 5rem);
    min-width: calc(80vw - 5rem);
  }
}
