.home-avatar__button {
  background-color: transparent;
  padding: 0;
  border: 0 transparent;
}

.home-avatar__img {
  height: 7rem;
  width: 7rem;
}

.home-avatar__loader {
  margin-bottom: 1.3rem;
}