:root {
  /* START PALATTES REGION */
  /* palatte 1 */
  --caput--mortuum: #502419;
  --black-bean: #3d1c13;

  --asparagus: #7ea172;
  --fern-green: #5d7c53;

  --sage: #c7cb85;
  --apple-green: #acb14c;

  --fawn: #e7a977;
  --caramel: #da7b2e;

  --peach: #ebbe9b;
  --persian-orange: #db8848;

  /* palatte 2 */
  --hunyadi-yellow: #edae49ff;
  --dark-goldenrod: #c68214ff;

  --jasmine: #f9df74ff;
  --jonquil: #f5c60cff;
  /* complimentary of jasmine */
  --cornflower-blue: #748ef9;
  /* complimentary of jonquil */
  --han-purple: #0c3bf5;

  --cornsilk: #f9edccff;
  --saffron: #ebc253ff;

  --chili-red: #ea2b1fff;
  --rufous: #aa1a10ff;

  --seal-brown: #61210fff;
  --black-bean: #44170bff;
  /* complimentary of --black-bean */
  --sea-of-stars: #0b3844;

  /* status */
  --info: var(--cornflower-blue);
  --warning: var(--jonquil);
  --error: var(--chili-red);

  /* fails WCAG contrast ratio when on background such as the card component which uses --cornsilk*/
  --brand-primary: var(--hunyadi-yellow);
  --brand-primary--dark: var(--dark-goldenrod);

  --brand-secondary: var(--jasmine);
  --brand-secondary--dark: var(--jonquil);

  --brand-tertiary: var(--cornsilk);
  --brand-tertiary--dark: var(--saffron);

  --brand-quaternary: var(--chili-red);
  --brand-quaternary--dark: var(--rufous);

  --brand-quinary: var(--seal-brown);
  --brand-quinary--dark: var(--black-bean);

  /* wcag friendly colors - light to dark */
  --color-primary: #c7522a;
  --color-secondary: #e5c185;
  --color-tertiary: #fbf2c4;
  --color-quaternary: #74a892;
  --color-quinary: #008585;
  --anchor--on-card: #003d3d;
  --anchor-hover--on-card: #e3ede9;

  --font-color--primary: #2a150d;
  --font-color--secondary: #e8d4d7;

  --light-background--primary: #fff8e1;
  --light-background--secondary: #ffe4b5;
  --light-background--tertiary: #ffdab9;
  --light-background--quaternary: #ffefd5;
  --light-background--quinary: #fff5ee;

  --dark-background--primary: #8b4513;
  --dark-background--secondary: #a0522d;
  --dark-background--tertiary: #d2691e;
  --dark-background--quaternary: #cd853f;
  --dark-background--quinary: #8b0000;

  --light-bg__text-color--primary: #000000;
  --light-bg__text-color--secondary: #8b4513;
  --light-bg__text-color--tertiary: #a0522d;
  --light-bg__text-color--quaternary: #d2691e;
  --light-bg__text-color--quinary: #8b0000;

  --dark-bg__text-color--primary: #ffffff;
  --dark-bg__text-color--secondary: #fff8e1;
  --dark-bg__text-color--tertiary: #ffe4b5;
  --dark-bg__text-color--quaternary: #ffdab9;
  --dark-bg__text-color--quinary: #ffefd5;

  --anchor__light-bg--primary: #87581c;
  --anchor__light-bg--secondary: #a0522d;
  --anchor__light-bg--tertiary: #d2691e;
  --anchor__light-bg--quaternary: #8b0000;

  --anchor__light-bg--primary-hover: #a0522d;
  --anchor__light-bg--secondary-hover: #d2691e;
  --anchor__light-bg--tertiary-hover: #cd853f;
  --anchor__light-bg--quaternary-hover: #ff8c00;

  --anchor__dark-bg--primary: #ffe4b5;
  --anchor__dark-bg--secondary: #ffdab9;
  --anchor__dark-bg--tertiary: #ffefd5;
  --anchor__dark-bg--quaternary: #fff5ee;

  --anchor__dark-bg--primary-hover: #ffdab9;
  --anchor__dark-bg--secondary-hover: #ffefd5;
  --anchor__dark-bg--tertiary-hover: #fff5ee;
  --anchor__dark-bg--quaternary-hover: #fafad2;

  /* END PALATTES REGION */

  --max-width: 1100px;
  --border-radius: 1rem;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-color--primary: var(--black-bean);
  --font-color--secondary: var(--brand-tertiary);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --color-primary: #e8d4d7;
    --color-secondary: #ddb49e;
    --color-tertiary: #d0b476;
    --color-quaternary: #8c9760;
    --color-quinary: #647a67; */
  }
}

/* START TEXT MODIFIERS */
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
/* END TEXT MODIFIERS */

/* START STATUS COLORS */
.info {
  color: var(--info) !important;
}
.warning {
  color: var(--warning) !important;
}
.error {
  color: var(--error) !important;
}
/* END STATUS COLORS */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 10px;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
}

aside {
  position: absolute;
  top: 16.2rem;
  right: 2.3rem;
  width: calc(20vw - 3rem);
  max-height: calc(100vh / 1.5);
  min-height: 30rem;
}

p,
a,
code,
input,
button,
span,
li {
  font-size: 1.4rem;
}

button,
input,
caption {
  padding: 0.5rem;
  border-radius: var(--border-radius);
  border: transparent;
}

input {
  background-color: var(--brand-tertiary);
  color: black;
}

button {
  background-color: var(--brand-primary);
  color: var(--font-color--primary);
  border-radius: 0.5rem;
}

button:disabled {
  background-color: lightgray;
}

sup p,
sup a {
  font-size: 1rem;
}
code {
  font-weight: 700;
  font-family: var(--font-mono);
}

a h1,
a h2,
a h3,
a h4,
a h5,
a h6,
a {
  text-decoration: none;
  color: var(--brand-primary);
}

html,
body {
  max-width: 100vw;
  height: 100vh;
}

body {
  background-color: rgb(21, 21, 21);
  overflow: auto;
}

article,
section {
  width: 100%;
}

main,
article,
section {
  display: flex;
  justify-content: center;
}

main {
  flex-direction: column;
  height: inherit;
  justify-content: flex-start;
}

article,
section {
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

article:not(:last-of-type),
section:not(:last-of-type) {
  margin-right: 0;
  margin-bottom: 1rem;
}

/* START LAYOUT */
.flex {
  display: flex;
}
.ai-center {
  align-items: center;
}
.row,
.row--sm-margin {
  display: flex;
  flex: 1 1;
}
.row:not(:last-of-type) {
  margin-bottom: 1rem;
}
.row--sm-margin:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.column:not(:last-of-type) {
  margin-right: 1rem;
}

[class*='--as-flex-end'] {
  align-self: flex-end;
}

[class*='--jc-center'] {
  justify-content: center;
}
[class*='--jc-end'] {
  justify-content: end;
}
[class*='--jc-flex-end'] {
  justify-content: flex-end;
}
[class*='--jc-flex-start'] {
  justify-content: flex-start;
}
[class*='--jc-left'] {
  justify-content: left;
}
[class*='--jc-normal'] {
  justify-content: normal;
}
[class*='--jc-right'] {
  justify-content: right;
}
[class*='--jc-space-around'] {
  justify-content: space-around;
}
[class*='--jc-space-between'] {
  justify-content: space-between;
}
[class*='--jc-space-evenly'] {
  justify-content: space-evenly;
}
[class*='--jc-start'] {
  justify-content: start;
}
[class*='--jc-stretch'] {
  justify-content: stretch;
}
[class*='--jc-inherit'] {
  justify-content: inherit;
}
[class*='--jc-initial'] {
  justify-content: initial;
}
[class*='--jc-revert'] {
  justify-content: revert;
}
[class*='--jc-revert-layer'] {
  justify-content: revert-layer;
}
[aria-disabled='true'] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
/* END LAYOUT */

.cursor--pointer {
  cursor: pointer;
}
.cursor--default {
  cursor: default;
}

@media (hover: hover) {
  input:hover {
    background-color: var(--brand-tertiary--dark);
  }

  button:hover:not(:disabled) {
    cursor: pointer;
    background-color: var(--brand-primary--dark);
    color: var(--brand-tertiary);
  }

  button:disabled:hover {
    cursor: not-allowed;
  }

  a:hover {
    text-decoration: underline;
    color: var(--anchor__light-bg--quaternary-hover);
  }

  [aria-disabled='true']:hover,
  [aria-disabled='true']:hover button,
  [aria-disabled='true']:hover a {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* do not combine ::selection and ::-moz-selection, breaks */
::selection {
  color: var(--brand-quinary);
  background-color: var(--brand-primary);
}

::-moz-selection {
  color: var(--brand-quinary);
  background-color: var(--brand-primary);
}

/* 4k Displays */
@media (min-width: 2160px) {
  section {
    flex-direction: row;
    align-items: flex-start;
    max-width: 2460px;
  }
  section:not(:last-of-type) {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}

/* Mobile display widths */
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (max-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  aside {
    display: none;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  aside {
    display: block;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

/* size */
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: var(--border-radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--brand-primary);
  border-radius: var(--border-radius);
}
