.home__container {
  justify-content: flex-start;
  align-items: center;
}

.home__container_fade {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.home__container_fade:last-child {
  margin-right: 0;
}

/* Primary column */
.home__container_item:nth-child(1) {
  flex: 1 1 65%;
  min-height: min-content;
}
/* Secondary column */
.home__container_item:nth-child(2) {
  flex: 1 1 34%;
  min-height: 0;
}

.discord_aside {
  min-height: 60rem;
}

.discord_aside > div::before,
.discord_aside > div::after {
  margin-bottom: 0.2rem;
}
