.home__container {
  justify-content: flex-start;
  align-items: center;
}

.home__container_fade {
  display: flex;
  justify-content: center;
}

.discord_aside {
  min-height: 60rem;
}

.discord_aside > div::before,
.discord_aside > div::after {
  margin-bottom: 0.2rem;
}
