.submission__delete-btn {
  font-size: 1.4rem;
  line-height: 1.5;
  background-color: var(--brand-quaternary);
  color: var(--brand-tertiary);
  position: relative;
}

.submission__delete-btn:hover:not(:disabled) {
  background-color: var(--brand-quaternary--dark);
}
