.submission__delete-btn {
  background-color: var(--brand-quaternary);
  color: var(--brand-tertiary);
  position: relative;
}

.submission__delete-btn:hover:not(:disabled) {
  background-color: var(--brand-quaternary--dark);
}
