.footer-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer-nav__list li:not(:last-child)::after {
  content: '|';
  margin-inline: 1rem;
  color: var(--brand-primary);
}

.footer-nav__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
