.recent-tags__container {
  height: inherit;
  width: 100%;
  overflow: auto;
  border-radius: var(--border-radius);

  max-height: calc(100vh / 1.5);
  min-height: 20rem;
  height: 100%;
}

.recent-tags__card {
  overflow: hidden;
  padding-bottom: 0;
}

.recent-tags__list {
  overflow: auto;
  height: auto;
}

.recent-tags__list-item {
  list-style-type: none;
}
